<?xml version="1.0" encoding="UTF-8" ?>
<test-results name="aspxperience tests" total="{{{total}}}" failures="{{{failures}}}" date="{{{date}}}"
              time="{{{time}}}">
    <test-suite type="Namespace" name="aspxperience tests" time="{{{time}}}" asserts="0"
                result="{{{result}}}" success="{{{success}}}" executed="True">
        <results>
            {{#fixtures}}
                <test-suite type="TestFixture" name="{{{name}}}" time="{{{time}}}" asserts="0"
                            success="{{{success}}}" result="{{{result}}}">
                    <results>
                        {{#tests}}
                            <test-case name="{{{name}}}" time="{{{time}}}" asserts="0" success="{{{success}}}"
                                       executed="True" result="{{{result}}}">
                                {{#errs}}
                                    <failure>
                                        <message>
                                            {{.}}
                                        </message>
                                    </failure>
                                {{/errs}}
                            </test-case>
                        {{/tests}}
                    </results>
                </test-suite>
            {{/fixtures}}
        </results>
    </test-suite>
</test-results>
